  <!DOCTYPE html>
  <html lang="{{ site.lang | default: "es-AR" }}">
    <head>
      <meta charset="UTF-8">

      {% seo %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="theme-color" content="#157878">
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
      <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    </head>
    <body>
      <!-- <header class="page-header" role="banner"> -->
         <!-- <h1 class="project-name">{{ page.header }}</h1> -->

      <section class="page-header">
        <a href="miembros.html" class="btn">Asociación</a>
        <a href="guias.html" class="btn">Guías</a>
        <a href="eventos.html" class="btn">Eventos</a>
        <a href="enlaces.html" class="btn">Jugger en Argentina</a>

        <a href="/" class="btn logo"> <img class="logo" src="assets/img/logo.jpg"/></a>
         <h1 class="project-name">{{ site.title }}</h1>
         <!-- <h2 class="project-tagline">{{ site.tagline }}</h2> -->


       </section>
      <!-- </header> -->


      <main id="content" class="main-content" role="main">
        {{ content }}

        <footer class="site-footer">
          <a class="footer-btn" href="https://www.facebook.com/JuggerLaPlata/">Facebook</a>
          <a class="footer-btn" href="https://www.facebook.com/groups/juggerlaplata/">Grupo de Facebook</a>
          <a class="footer-btn" href="https://www.instagram.com/jugger.lp/">Instagram</a>
          <a class="footer-btn" href="https://twitter.com/JuggerLaPlata">Twitter</a>
          <a class="footer-btn" href="https://www.youtube.com/channel/UCXqEIoNAYiFmQVdPCYjbQQw">YouTube</a>
        </footer>
      </main>

    </body>
  </html>
